<adf-toolbar color="primary">
  <adf-toolbar-title>
    <img width="40px" style="float: left;" src="/assets/activiti-logo.png">
    <a mat-button routerLink="/">Home</a>
  </adf-toolbar-title>

  <a  *ngIf="auth.isLoggedOut()" mat-button href="" routerLink="/login">Login</a>
  <a *ngIf="auth.isLoggedIn()" mat-button href="" routerLink="/graphql">GraphQL</a>
  <a *ngIf="auth.isLoggedIn()" mat-button href="" routerLink="/process-instance">Process Instances</a>

  <button *ngIf="auth.isLoggedIn()" mat-button (click)="logout()">Logout</button>
</adf-toolbar>

<router-outlet></router-outlet>
